* {
    font-family: monospace;
}

.introduction {
    padding-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    justify-items: center;
    width: 80%;
    padding-bottom: 50px;
    text-align: center;
}

.introduction p {
    font-size: 16px;
}

.fa {
    padding: 20px 20px 20px 20px;
    font-size: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa fa-github {
    margin-left: 50px;
    margin-right: auto;
}

.profile-mask {
    overflow: hidden;
    width: 240px;
    height: 240px;

    margin-left: auto;
    margin-right: auto;

    border-style: dashed;
    border-radius: 50%;
}

.profile-mask img {
    width: 115%;
    min-width: 5%;
    height: auto;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: block;
    width: 90%;
    margin: auto;
    box-shadow: 10px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

.column {
    flex: 33%;
    max-width: 300px;
    padding: 5px;
}

.content-tables {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}

.content-tables thead tr {
    background-color: #009879;
    color: #fff;
}

.content-tables tbody tr {
    background-color: rgb(235, 235, 235);
    border-bottom: 1px groove gray;
}

.content-tables th,
.content-tables td {
    padding: 12px 15px;
}

.content-tables .skill-align {
    width: 40%;
    text-align: right;
    padding-right: 5px;
}

.content-tables .descr-align {
    width: auto;
    text-align: left;
    padding-right: 5px;
}

.project {

    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.box_project {
    width: 75%;
    max-width: 900px;
    flex: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
}

.about {
    margin-bottom: 50px;
}

.slidershow {
    width: 100%;
    position: relative;
    margin: auto;
}

.slide_dmi, .slide_cd, .slide_art {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(153, 153, 153, 0.8);
}

p {
    font-size: 18px;
}

@media only screen and (max-width: 605px) {
    .introduction {
        display: block;
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .profile-mask {
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 120px;
        height: 120px;

        border-style: dashed;
        border-radius: 50%;
    }

    .profile-mask img {
        width: 115%;
        min-width: 5%;
        height: auto;
        margin-top: -30px;
        margin-left: auto;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;
        text-align: center;
    }

    .column {
        flex: 100%;
        padding: 5px;
    }

    .content-tables {
        width: 100%;
        border-style: groove;
        border-radius: 5px;
        border-collapse: collapse;
        text-align: center;
        font-size: 14px;
    }

    .project {
        display: flex;
        flex-direction: column;
        justify-self: center;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;
    }

    .box_project {
        width: 90%;
        max-width: 900px;
        flex: auto;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }

    .about {
        width: 90%;
    }

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}